<%= form_with(model: invoice) do |form| %>
  <% if invoice.errors.any? %>
    <div style="color: red">
      <h4><%= pluralize(invoice.errors.count, "error") %> prohibited this invoice from being saved:</h4>
      <ul>
        <% invoice.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row mb-3 justify-content-md-left">
    <div class="col">
      <%= form.label :issue_date, "Issue Date", class: "col-form-label fw-bold" %>
      <%= form.date_field :issue_date, class: "form-control" %>
    </div>
  </div>

  <div class="row mb-3 justify-content-md-left">
    <div class="col">
      <%= form.label :billing_issuer_id, "Issuer", class: "col-form-label fw-bold" %>
      <%= form.select :billing_issuer_id, @issuers.map { |issuer| [issuer.name, issuer.id] }, { }, class: "form-select" %>
    </div>
  </div>

  <div class="row mb-3 justify-content-md-left">
    <div class="col">
      <%= form.label :billing_recipient_id, "Recipient", class: "form-label fw-bold" %>
      <%= form.select :billing_recipient_id, @recipients.map { |recipient| [recipient.name, recipient.id] }, { }, class: "form-select" %>
    </div>
  </div>

  <div>
    <%= form.submit :Submit, class: "btn btn-success mt-3 mb-3" %>
  </div>
<% end %>





















