<% content_for :title, "Edit Invoice" %>

<%= link_to billing.invoices_path, class: "back-link" do %>
  <i class="bi bi-arrow-left"></i> Invoices
<% end %>

<div class="card-andes p-4">
  <div class="d-flex align-items-center justify-content-between mb-4">
    <h1 class="mb-0">Edit Invoice</h1>
    <%= button_to billing.invoice_path(@invoice), method: :delete, class: "btn btn-andes-danger btn-andes-sm", data: { turbo_confirm: "Are you sure?" } do %>
      <i class="bi bi-trash"></i> Delete
    <% end %>
  </div>
  <%= render "form", invoice: @invoice %>
</div>

<%= turbo_frame_tag "new_invoice_item", src: billing.new_invoice_invoice_item_path(@invoice) %>

<%= turbo_frame_tag "invoice_items" do %>
  <%= render "billing/invoice_items/invoice_items", invoice_items: @invoice.invoice_items %>
<% end %>

<%= turbo_frame_tag "invoice_totals" do %>
  <%= render "totals", invoice: @invoice %>
<% end %>
