<% content_for :title, "Edit invoice" %>

<div class="d-flex align-items-center">
  <h1>Edit Invoice</h1>
  <%= button_to "", @invoice, method: :delete, class: "btn btn-sm btn-danger bi bi-trash ms-3" %>
  <%= link_to "Back", invoices_path, class: "btn btn-sm btn-dark ms-auto" %>

</div>

<%= render "form", invoice: @invoice %>

<%= turbo_frame_tag "new_invoice_item", src: new_invoice_invoice_item_path(@invoice), target: "_top" %>

<div id="invoice_items" class="my-5">
  <h2>Items</h2>
  <%= render "billing/invoice_items/invoice_items", invoice_items: @invoice.invoice_items %>
</div>

<%= render "totals", invoice: @invoice %>
