<% content_for :title, "Edit invoice" %>

<div class="d-flex align-items-center">
  <h1>Edit Invoice</h1>
  <%= button_to "", @invoice, method: :delete, class: "btn btn-sm btn-danger bi bi-trash ms-3" %>
  <%= link_to "Back", invoices_path, class: "btn btn-sm btn-dark ms-auto" %>

</div>

<%= render "form", invoice: @invoice %>

<%= turbo_frame_tag "new_item" do %>
  <%= render partial: "billing/invoice_items/new", invoice_item: @invoice_item %>
<% end %>

<%= turbo_frame_tag "invoice_items" do %>
  <%= render @invoice_items %>
<% end %>

