<% content_for :title, "Invoices" %>

<div class="d-flex align-items-center">
  <h1>Invoices</h1>
  <%= button_to "", new_invoice_path, method: :get, class: "btn btn-sm btn-primary bi bi-plus ms-3 fs-4" %>
</div>

<table class="table table-hover">
  <thead>
  <tr>
    <th scope="col" class="text-center">Year</th>
    <th scope="col" class="text-center">Number</th>
    <th scope="col" class="text-center">Recipient</th>
    <th scope="col" class="text-center">Total</th>
    <th scope="col" class="text-center">Options</th>
  </tr>
  </thead>
  <tbody>

  <% @invoices.each do |invoice| %>
    <tr>
      <td class="text-center"><%= invoice.issue_date.year %></td>
      <td class="text-center"><%= invoice.number %></td>
      <td class="text-center"><%= invoice.recipient.name %></td>
      <td class="text-center"><%= number_to_currency(invoice.gross_total, unit: "€", separator: ",", delimiter: ".") %></td>
      <td>
        <div class="d-flex justify-content-center">
          <%= button_to "", invoice, method: :get, class: "btn btn-sm btn-primary bi bi-eye me-1" %>
          <%= button_to "", edit_invoice_path(invoice), method: :get, class: "btn btn-sm btn-success bi bi-pencil me-1" %>
          <%= button_to "", invoice, method: :delete, class: "btn btn-sm btn-danger bi bi-trash" %>
        </div>
      </td>
    </tr>
  <% end %>

  </tbody>
</table>
