<div id="<%= dom_id issuer %>">
  <p>
    <strong>Name:</strong>
    <%= issuer.name %>
  </p>

  <p>
    <strong>Taxnumber:</strong>
    <%= issuer.taxNumber %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= issuer.email %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= issuer.address %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= issuer.phone %>
  </p>

</div>
