<% unless notice.blank? %>
  <div class="alert alert-success mt-3" role="alert">
    <%= notice %>
  </div>
<% end %>

<% content_for :title, "Issuers" %>

<div class="d-flex align-items-center">
  <h1>Issuers</h1>
  <%= button_to "", new_issuer_path, method: :get, class: "btn btn-sm btn-primary bi bi-plus ms-3" %>
</div>

<table class="table table-hover">
  <thead>
  <tr>
    <th scope="col">TAX Number</th>
    <th scope="col">Name</th>
    <th scope="col">Phone</th>
    <th scope="col">Options</th>
  </tr>
  </thead>
  <tbody>

    <% @issuers.each do |issuer| %>
      <tr>
        <th><%= issuer.taxNumber %></th>
        <td><%= issuer.name %></td>
        <td><%= issuer.phone %></td>
        <td>
          <div class="d-inline-flex">
            <%= button_to "", edit_issuer_path(issuer), method: :get, class: "btn btn-sm btn-success bi bi-pencil me-1" %>
            <%= button_to "", issuer, method: :delete, class: "btn btn-sm btn-danger bi bi-trash" %>
          </div>
        </td>
      </tr>
    <% end %>

  </tbody>
</table>
